* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

span,
h1 {
    font-family: Raleway, sans-serif !important;
}

img {
    max-width: 100%;
}

p {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
}

.tile1 {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(223, 204, 194);
}

.tile1 h1 {
    color: rgb(255, 255, 255);
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(243, 239, 239);
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 100%;
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 413px;
    max-width: 300px;
}

.div2 {
    position: relative;
}

.pos-relative {
    z-index: 4;
    position: relative;
}

.abs-div1 {
    position: absolute;
    bottom: -7em;
    left: -5em;
    z-index: 1;
}

.abs-div2 {
    position: absolute;
    bottom: -4em;
}

.tile1-main2 {
    padding-top: 150px;
    position: relative;
}

.main2-div1 {
    position: absolute;
    left: -20%;
}

.main2-div1 img {
    width: 430px;
    border-radius: 50%;
}

.main2-div2 {
    max-width: 430px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    height: 450px;
    justify-content: center;
    flex-direction: column;
}

.contact-form {
    max-width: 540px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 469px;
    justify-content: center;
}

.main2-div3 {
    position: relative;
}

.pos-abs3 {
    position: absolute;
    bottom: -17em;
    right: 11em;
}

.white {
    color: rgb(255, 255, 255);
}

.tile2 {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(197, 206, 189);
}

.title2 {
    padding-top: 5em;
    margin-left: 6em;
    max-width: 402px;
}

.title2 h1 {
    font-size: 60px;
    line-height: 66px;
}

.tile2-div1 {
    max-width: 544px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 3em;
    position: relative;
    z-index: 99;
}

.tile2-div2 {
    position: absolute;
    right: 0px;
    top: 7em;
    z-index: 2;
}

.tile2-main1 {
    padding-top: 80px;
    position: relative;
    padding-bottom: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.vector-abs4 {
    position: absolute;
    top: 0px;
    right: -2em;
    z-index: 1;
}

.abstact-img3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.tile3 {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(223, 204, 194);
    padding-top: 100px;
    padding-right: 1em;
    padding-bottom: 150px;
    padding-left: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content3 {
    max-width: 781px;
}

.tile3-main1 {
    padding-left: 4em;
}

.wrapper3 ul {
    padding-left: 20px;
    padding-right: 3em;
}

.wrapper3 ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 59px;
    letter-spacing: -1.125px;
    color: rgb(255, 255, 255);
}

.wrapper3 {
    display: flex;
    flex-wrap: wrap;
}

.tile3-div {
    padding-top: 0px;
    padding-right: 2em;
    padding-bottom: 0px;
    padding-left: 2em;
    position: relative;
}

.title3 {
    max-width: 317px;
    text-align: right;
    margin-left: auto;
    padding-top: 60px;
}

.tile3-div2 {
    display: flex;
    align-items: flex-end;
}

.abs-bg3 {
    position: absolute;
    bottom: -5em;
    right: -4em;
}

.abs-bg-4 {
    right: -6em;
    bottom: 23em;
    position: absolute;
}

.tile4 {
    padding-top: 150px;
    padding-right: 1em;
    padding-bottom: 100px;
    padding-left: 1em;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(197, 206, 189);
    overflow-x: hidden;
    overflow-y: hidden;
}

.content4 {
    max-width: 780px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 50px;
}

.left5 .contact-form {
    margin-right: 0px;
}

.right5 {
    max-width: 70%;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
}

.post-abs-5 {
    position: absolute;
    bottom: 0px;
    max-width: 74%;
    right: -20px;
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address .businessAddress {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #4E4244;
}

.price-btn {
    background-color: rgb(196, 135, 104);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.price-btn.btn-light {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.price-btn.black {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.ba-section {
    padding: 2rem 0 2rem;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .vector-abs4 {
        display: none;
    }

    .tile2-div2 {
        display: none;
    }

    .red-border {
        display: none;
    }

    .tile3-main1 {
        padding-top: 0px;
        padding-right: 1em;
        padding-bottom: 0px;
        padding-left: 1em;
    }

    .title3 {
        max-width: 100%;
        text-align: left;
        padding-bottom: 2em;
    }

    .wrapper3 {
        justify-content: center;
    }

    .right5,
    .left5 .contact-form {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }
}

@media screen and (max-width: 991px) {
    .div3 {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        min-height: auto;
        padding-top: 3em;
    }

    .abs-div1 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        background-color: rgb(196, 135, 104);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .ba-section .ba-image {
        padding: 1rem 0;
    }


    .tile1-main .pos-relative {
        padding-top: 2rem;
    }

    .div3 {
        min-height: auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .div1 {
        min-height: auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .div2 {
        text-align: center;
    }

    .div3 p {
        padding-top: 2em;
        font-size: 18px;
    }

    .main2-div1 {
        position: relative;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        text-align: center;
        left: unset;
    }

    .main2-div2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .title2 {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .tile2-main1 {
        padding-top: 0px;
        padding-right: 1em;
        padding-bottom: 2em;
        padding-left: 0px;
    }

    .title2 h1 {
        font-size: 36px;
        line-height: 36px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .tile3-div3.tile3-div {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }

    .tile3-div2.tile3-div {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }

    .tile3-div {
        padding-top: 0px;
        padding-right: 1em;
        padding-bottom: 0px;
        padding-left: 1em;
        position: relative;
    }

    .right5 {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .left5 .contact-form {
        height: auto;
    }

    .tile4 {
        padding-top: 3em;
        padding-right: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
    }

    .head {
        padding-top: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
    }

    .head .action-button {
        display: none;
    }
}