body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.main {
    overflow: hidden;
}

/* general container code */
.tile {
    padding: 40px 0;
}

.main-content {
    padding-top: 50px;
}

.left-content .main-content {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
}

/* .left-content .main-content .title,
.left-content .main-content .subtitle,
.left-content .main-content .features-list {
    padding-left: 150px
} */

.main-content .title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    color: #2C2C2C;
    text-transform: uppercase;
}

.main-content .gradient-line {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #FC881D 2.59%, rgba(252, 136, 29, 0) 100%);
}

.left-content .main-content .gradient-line {
    transform: rotate(180deg) translateX(150px);
}

.main-content .subtitle {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #0D0E2599;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-content .features-list {
    list-style: none;
}

.main-content .features-list .point {
    position: relative;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: #2C2C2C;
}

.main-content .features-list .point::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: -32px;
    /* top: 50%; */
    transform: translate(0%, 20%);
    background-image: url('https://g99plus.b-cdn.net/g99%20landing%20pages/page1/tick.png');
    background-size: cover;
}

/* header starts */
.header {
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://g99plus.b-cdn.net/g99%20landing%20pages/page1/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-content-wrapper {
    width: 100%;
}

.header-content {
    max-width: 620px;
    margin: 0 auto;
}

.header-content .title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    margin-bottom: 24px;
}

.header-content .title span {
    font-weight: 700;
}

.header-content .description {
    line-height: 180%;
    margin-bottom: 65px;
}

.header-content .orange-btn {
    padding: 11px 50px;
    background-color: #FD9854;
    border: 1px solid #FD9854;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 180%;
    color: #fff;
    cursor: pointer;
}

.header-content .pricing {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    margin-left: 40px;
    color: #2C2C2C;
    text-decoration: underline;
}

.laptop-wrapper {
    overflow: hidden;
}

.laptop-wrapper .laptop {
    transform: translateX(85px);
}

/* tile 1 */
.tile1 {
    position: relative;
}

.tile1 .gradient-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 2000px;
    width: 600px;
    background: linear-gradient(253.26deg, #97E6FF 2.7%, #A690FC 38.09%, rgba(252, 150, 187, 0.46) 63.65%, rgba(255, 195, 151, 0.28) 83.29%);
    filter: blur(364px);
    transform: matrix(-0.09, -1, -0.99, 0.11, 0, 0) translateY(70%);
}

.tile1 img {
    display: block;
}

.tile1 .images-wrapper .tile1-1 {
    margin: 0 auto;
}

.tile1 .images-wrapper .tile1-2 {
    transform: translateX(-75px);
}

.tile1 .images-wrapper .tile1-3 {
    margin-left: auto;
}

/* tile 2 */
.tile2 .images-wrapper img {
    display: block;
    margin-left: auto;
}

.tile2 .images-wrapper .tile2-2 {
    transform: translateX(100px);
}

/* tile 3 */
.tile3 .images-wrapper .tile3-1 {
    transform: translateX(-50px);
}

.tile3 .images-wrapper .tile3-2 {
    display: block;
    margin-left: auto;
}

/* tile 4 */
.tile4 .main-content {
    padding-top: 90px;
}

.tile4 .images-wrapper img {
    display: block;
    margin-left: auto;
}

.tile4 .images-wrapper .tile4-1 {
    transform: translateX(110px);
}

.tile4 .images-wrapper .tile4-2 {
    transform: translateX(50px);
}

@media screen and (max-width: 768px) {

    /* general container code */
    .left-content .main-content {
        padding-left: 0;
    }

    .left-content .main-content .gradient-line {
        transform: rotate(180deg);
    }

    .main-content {
        padding-top: 0;
    }

    /* header */
    .header {
        display: block;
        min-height: auto;
        padding: 2rem 0;
    }

    .header-content {
        padding: 2rem 0 0;
        max-width: none;
    }

    .header-content .title {
        margin-bottom: 10px;
    }

    .header-content .description {
        margin-bottom: 20px;
    }

    .laptop-wrapper {
        padding: 4rem 1rem 0;
    }

    .laptop-wrapper .laptop {
        display: block;
        width: 100%;
        margin: 0 auto;
        transform: translateX(0);
    }

    /* tile 2 */
    .tile2 .images-wrapper .tile2-2 {
        margin: 0;
        transform: translateX(0);
    }

    /* tile 4 */
    .tile4 .main-content {
        padding-top: 0;
    }

    .tile4 .images-wrapper .tile4-2 {
        margin: 0;
        transform: translateX(0);
    }
}

@media screen and (max-width: 480px) {

    /* general container code */
    .main-content .title {
        font-size: 30px;
        line-height: 45px;
    }

    .main-content .gradient-line {
        margin-bottom: 15px;
    }

    .main-content .features-list {
        padding-left: 20px;
    }

    .main-content .features-list .point {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 5px;
    }

    .main-content .features-list .point::before {
        width: 17px;
        height: 17px;
        left: -25px;
        transform: translate(0, 30%);
    }

    /* header */
    .header-content .title {
        font-size: 30px;
        line-height: 130%;
    }

    .header-content .orange-btn {
        padding: 8px 30px;
    }

    .header-content .pricing {
        margin-left: 20px;
    }

    .header-content .description {
        font-size: 15px;
    }

    .laptop-wrapper {
        padding: 2rem 0 0;
    }
}