* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#iu4oh {
  /* color: rgb(210, 180, 142); */
  color: white;
}
#i6myb {
  /* color: rgb(210, 180, 142); */
  color: white;
}
#iagvg {
  /* color: rgb(210, 180, 142); */
  color: white;
}
#i13xa {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
h2,
p,
h3,
span,
h1 {
  font-family: Montserrat, sans-serif;
}
img {
  max-width: 100%;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: rgb(78, 66, 68);
}
ul {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: rgb(78, 66, 68);
}
.content2 {
  max-width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.content1 {
  max-width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.content1 h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 120%;
  color: rgb(210, 180, 142);
  margin-bottom: 1rem;
}
.content1 h2 {
  color: rgb(210, 180, 142);
}
.tile1 {
  background-color: rgb(26, 26, 26);
}
.tile1 .content1 {
  padding: 2rem 0;
}
.tile1 img {
  height: 100%;
}
.tile1 p {
  color: white;
}
.tile2 {
  padding-top: 4em;
  padding-right: 1em;
  padding-bottom: 4em;
  padding-left: 1em;
}
.tile3 {
  background-color: rgba(235, 220, 202, 0.12);
  padding-top: 6em;
  padding-right: 0px;
  padding-bottom: 6em;
  padding-left: 0px;
  display: block;
  position: relative;
}
.tile3::after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.1;
  background-image: url("https://g99plus.b-cdn.net/Group8%20p3/image%209.png");
}
.tile3 img {
  max-width: 80%;
}
.tile3 .img1 {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.box-shadow {
  max-width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 33, 5, 0.15) 0px 0px 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 2em;
}
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-btn {
  background-color: transparent;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 50px;
  text-align: center;
  color: rgb(210, 180, 142);
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid rgb(210, 180, 142);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
  transition-property: all;
  font-family: Montserrat, sans-serif;
}
.price-btn:hover {
  background-color: rgb(210, 180, 142);
  color: rgb(0, 0, 0);
}
.price-btn.black {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.small-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-right: 3em;
  padding-bottom: 1em;
  padding-left: 3em;
  background-color: rgb(26, 26, 26);
}
.small-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  right: 3rem;
  height: 1px;
  background-color: rgb(210, 180, 142);
}
.small-footer p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(210, 180, 142);
}
.small-footer p .g99_logo {
  height: 1.3em;
}
.head {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-right: 3em;
  padding-bottom: 0px;
  padding-left: 3em;
  z-index: 2;
  position: relative;
}
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}
.address {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgb(78, 66, 68);
}
.address p.businessname {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgb(78, 66, 68);
  margin-bottom: 0px;
}
.address p.businessAddress {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.contact-footer {
  padding-top: 1rem;
  background-color: rgba(26, 26, 26);
}
.contact-footer p {
  color: rgb(210, 180, 142);
}
.contact-detail {
  max-width: 300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 2em;
  margin-left: auto;
}
.contact-detail .detail > p:last-of-type {
  color: white;
}
.contact-detail p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.contact-detail .detail {
  margin-bottom: 1em;
}
.contact-detail a {
  color: rgb(210, 180, 142);
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.social-icons {
  text-align: center;
  margin-top: 1em;
}
.social-icons a {
  color: rgb(210, 180, 142);
  font-size: 20px;
  margin-right: 1em;
}
.contact-detail h4 {
  color: rgb(210, 180, 142);
  margin-bottom: 1em;
}
@media screen and (min-width: 1400px) {
  .img1 img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .price-btn.black {
    margin-top: 1em;
  }
  .content2 {
    margin-bottom: 2em;
  }
  .content1,
  .tile3 .img1 {
    margin-bottom: 2em;
  }
  .img1 {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }
  .box-shadow {
    max-width: 100%;
    margin-top: 2em;
  }
  .content1 h1,
  .content1 h3 {
    font-size: 36px;
  }
  .tile3 img {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    max-width: 100%;
  }
  .tile2 {
    padding-bottom: 0px;
  }
  .tile4 {
    padding-bottom: 4em;
  }
  .tile3 {
    padding-top: 3em;
    padding-right: 0px;
    padding-bottom: 3em;
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-button {
    margin-right: 30px;
  }
  .action-button button {
    background-color: rgb(210, 180, 142);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(210, 180, 142);
    border-right-color: rgb(210, 180, 142);
    border-bottom-color: rgb(210, 180, 142);
    border-left-color: rgb(210, 180, 142);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    transition-property: all;
  }
  .contact-footer {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .head {
    padding-top: 1em !important;
    padding-right: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 1em !important;
  }
  .head .action-button {
    display: none;
  }
  .contact-detail h4 {
    margin-bottom: 0.5em;
  }
  .small-footer {
    height: auto;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
  }
  .small-footer::before {
    left: 0rem;
    right: 0rem;
  }
  .contact-detail {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .small-footer {
    padding: 1em 6em;
  }
}
