* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    color: rgb(78, 66, 68);
    font-family: Poppins, sans-serif !important;
}

h3 {
    font-style: normal;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-family: Righteous, cursive !important;
    font-size: 72px !important;
}

img {
    max-width: 100%;
}

.title1 {
    position: absolute;
    bottom: 11em;
    left: 13em;
    color: rgb(255, 255, 255);
}

.contact-form {
    /* height: 515px; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.left2 {
    max-width: 580px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.tile1 {
    padding-top: 0px;
    padding-right: 2em;
    padding-bottom: 0px;
    padding-left: 2em;
    text-align: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

.tile1 img {
    width: 100%;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile2 {
    padding-top: 2em;
    padding-right: 0px;
    padding-bottom: 2em;
    padding-left: 0px;
}

.content3 p {
    padding-top: 65px;
}

.tile4 {
    position: relative;
    padding-top: 100px !important;
}

.tile4 .img-wrapper1 {
    background-image: url("https://g99plus.b-cdn.net/Landingpages/roham/lipo/lipo2.jpeg");
    background-position-x: initial;
    background-position-y: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    height: 760px;
    width: 100%;
    background-size: cover;
}

.content4 {
    position: absolute;
    width: 940px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(13, 12, 17, 0.81);
    top: 50%;
    left: 50%;
    right: 0px;
    transform: translateX(-50%);
}

.mob-only {
    display: none;
}

.content4 p {
    color: rgb(255, 255, 255);
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address p.businessAddress {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.price-btn {
    background-color: rgb(52, 48, 49);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.price-btn.btn-light {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.price-btn.black {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(243, 239, 239);
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.action-btn {
    text-align: left;
}

.content3 {
    text-align: left;
}

.ba-section {
    padding: 4rem 1rem 0rem;
    text-align: center;
}

@media screen and (min-width: 1500px) {
    .tile1 {
        padding-top: 0px;
        padding-right: 5em;
        padding-bottom: 0px;
        padding-left: 5em;
        text-align: center;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .tile1 img {
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .ba-section {
        padding: 1rem 1rem 1rem;
    }

    h3 {
        font-style: normal;
        font-weight: normal;
        line-height: 250.19%;
        color: rgb(255, 255, 255);
        font-size: 36px !important;
    }

    .title1 {
        position: absolute;
        bottom: 2em;
        left: 4em;
        color: rgb(255, 255, 255);
    }

    .mob-only {
        display: block;
    }

    .content4 {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        right: unset;
        transform: unset;
        margin-top: 40px;
        background-color: transparent;
    }

    .content4 p {
        color: rgb(78, 66, 68);
    }

    .tile4 .img-wrapper1 {
        background-image: none;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        background-color: rgb(52, 48, 49);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .ba-section .ba-image {
        padding: 1rem 0;
    }

    .tile1 {
        text-align: left;
    }

    .left2 {
        max-width: 100%;
    }

    .head {
        padding-top: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
    }

    .head .action-button {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .ba-section {
        padding: 1rem 0;
    }

    iframe {
        max-height: 700px;
        height: 515px;
        max-width: 100%;
        border-top-width: initial;
        border-right-width: initial;
        border-bottom-width: initial;
        border-left-width: initial;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: initial;
        border-right-color: initial;
        border-bottom-color: initial;
        border-left-color: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        width: 100% !important;
    }

    .title1 {
        bottom: 1em;
        left: 2em;
    }

    .left2 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .content4 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .tile1 {
        text-align: left;
        padding-top: 0px;
        padding-right: 1em;
        padding-bottom: 0px;
        padding-left: 1em;
    }

    .tile5 p {
        padding-top: 0px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-left: 5px;
    }
}