p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #060606;
}
p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #20243a;
}
.tagline h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 30px;
}
.tagline h1.small {
  font-size: 81px;
  font-weight: 700;
  line-height: 0.9;
}
.tagline .btn-book {
  margin-top: 40px;
}
.fgColor {
  color: #060606;
}
.fgColorInBg,
.bgColor {
  background: #060606;
}
.btn-book {
  background-color: #060606;
  padding: 10px 90px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}
.main {
  overflow: hidden;
}
/* Header section */
.main-header-section {
  padding: 135px;
}
.main-header-section .content-wrapper {
  padding-right: 20px;
}
.gradient-wrapper {
  background: url("https://g99plus.b-cdn.net/Websites/march%20websites/medicalspa3/header%20img.svg"),
    linear-gradient(
      73.18deg,
      #93cfee 3.4%,
      #b19be7 45.86%,
      #e4aac1 70.82%,
      #d9afe2 97.39%
    );
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
  min-height: 400px;
}
.gradient-wrapper .header-img {
  width: 100%;
  height: 100%;
}
/* service section */
.service-section {
  background: linear-gradient(
    73.18deg,
    #93cfee 3.4%,
    #b19be7 45.86%,
    #e4aac1 70.82%,
    #d9afe2 97.39%
  );
  padding: 130px 100px;
}
.service-wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: transparent;
  /* box-shadow: rgba(143, 143, 143, 0.15) 2px 0px 20px 9px; */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 100%;
  margin-bottom: 2em;
}

.service-wrapper2 p.titlep {
  text-transform: uppercase;
}

.service-wrapper2 p.sdescription {
  margin-bottom: 0px;
}

.service-wrapper2 .img-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 15px;
}

.service-wrapper2 .content {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
}

.service-wrapper2 a {
  color: rgb(94, 37, 48);
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.service-wrapper2 img {
  max-width: 100px;
}

#service,
div#users {
  max-width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

#service-insert .col-lg-4 {
  margin-top: 2em;
}

/* users section */
.main-users-section {
  margin-top: 80px;
}

.users-section .half {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-img {
  margin-bottom: 1rem;
  width: 100%;
}
.utitle {
  font-size: 21px;
  font-weight: 700;
}
.user-img img {
  width: 100%;
}
.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons-wrapper .btn-book {
  flex: 1;
  padding: 10px 0;
  white-space: nowrap;
}
#users .col-lg-4 {
  margin-bottom: 2em;
}
#users .row {
  flex: 1;
}

/* Review section */
.reviews-section {
  margin: 135px;
  background-color: #e4f2fd;
  border-radius: 100px;
  overflow: hidden;
}
.review-img {
  background-image: url("https://g99plus.b-cdn.net/Websites/march%20websites/medicalspa3/review%20woman.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  overflow: hidden;
}
.review-wrapper {
  padding: 80px 100px 0 0;
}
.reviews {
  min-height: 400px;
}
/* Contact us */
.contact-section {
  padding: 135px;
}
.contact-section .first-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer area */
.divs-contact {
  padding: 2em 0;
}
.maps-and-contact h4 {
  font-size: 20px;
}
.maps-and-contact p {
  font-size: 15px;
  word-break: break-word;
  max-width: 230px;
}
.maps-and-contact h1 {
  padding-top: 0;
  padding-bottom: 15px;
}
.maps,
.maps address {
  height: 100%;
}
.maps iframe {
  width: 100%;
  border: none;
  height: 100%;
}
.contact-hours-wrapper {
  display: flex;
  justify-content: space-around;
}
.working-hours h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 0;
}
.work-wrapper {
  display: flex;
  justify-content: space-around;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gainsboro;
  padding-top: 0.7rem;
  padding-right: 1.5rem;
  padding-bottom: 0.7rem;
  padding-left: 0px;
}
.work-wrapper p {
  text-transform: capitalize;
  margin: 0;
}
.work-wrapper .hours {
  margin-left: 1.5rem;
}
.social-media a {
  font-size: 22px;
  padding-right: 0.5em;
  text-decoration: none;
}
.footer p {
  margin: 0;
  color: #fff;
}
.footer p .g99_logo {
  height: 1.3em;
}
.footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 6em 1em 1em;
}
@media screen and (max-width: 1200px) {
  /* header section */
  .main-header-section {
    padding: 85px;
  }
  /* services section */
  .service-section {
    padding: 75px 30px;
  }
  /* reviews section */
  .reviews-section {
    margin: 90px;
  }
  .review-wrapper {
    padding: 80px 70px 0 0;
  }
  /* contact section */
  .contact-section {
    padding: 90px;
  }
}
@media screen and (max-width: 991px) {
  /* header section */
  .main-header-section {
    padding: 40px;
  }
  .gradient-wrapper {
    margin-top: 30px;
  }
  /* services section */
  .service-wrapper2 .content {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  /* services section */
  .service-section {
    padding: 30px;
  }
  /* reviews section */
  .reviews-section {
    border-radius: 40px;
  }
  .review-wrapper {
    padding: 50px;
  }
  /* contact section */
  .contact-section {
    padding: 50px 10px;
  }
  /* Footer area */
  .maps-and-contact h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .maps iframe {
    height: 300px;
  }
  .contact-hours-wrapper {
    justify-content: space-around;
  }
  .footer {
    padding: 1em 1em 1em;
  }
}

@media screen and (max-width: 767px) {
  /* header section */
  .tagline .btn-book {
    margin-top: 10px;
  }
  /* .main-header-section {
    padding: 50px;
  } */
  .main-header-section .content-wrapper {
    padding-right: 0;
  }
  /* services section */
  .service-section {
    padding: 25px;
  }
  #service,
  div#users {
    max-width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  .service-wrapper2 {
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em; */
    padding: 0;
  }
  .service-wrapper2 .content {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  #service,
  div#users {
    max-width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  /* users section */
  .main-users-section {
    margin-top: 40px;
  }
  /* reviews section */
  .reviews-section {
    margin: 40px;
    border-radius: 40px;
  }
  .review-wrapper {
    padding: 40px;
  }
  /* contact section */
  .contact-section {
    padding: 40px;
  }
  /* Footer area */
  .contact-hours-wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .working-hours h4 {
    border: none;
    margin-bottom: 10px;
  }
  .working-hours {
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
  .wrapper7.last p,
  .wrapper7.last {
    text-align: center;
    margin: 0 auto;
  }
  .a-section {
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 500px) {
  .tagline h1 {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .tagline h1.small {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 20px;
  }
  /* header section */
  .main-header-section {
    padding: 15px;
  }
  /* services section */
  .service-section {
    padding: 15px;
  }
  .service-wrapper2 {
    margin-bottom: 0;
  }
  .img-container {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
  .img-container img {
    width: 75px;
  }
  /* reviews section */
  .reviews-section {
    margin: 15px;
    border-radius: 25px;
  }
  .review-wrapper {
    padding: 15px;
  }
  /* contact session */
  .contact-section {
    padding: 15px;
  }
}
