p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #060606;
}
.fgColor {
  color: rgba(32, 8, 59, 0.75);
}
.fgColorInBg,
.bgColor {
  background: rgba(32, 8, 59, 1);
}
.main {
  overflow-x: hidden;
}
/* Contact us */
.contact-section .heading {
  font-size: 81px;
  margin-bottom: 16px;
}
.contact-section .first-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer area */
.divs-contact {
  padding: 2em 0;
}
.maps-and-contact h4 {
  font-size: 20px;
}
.maps-and-contact p {
  font-size: 15px;
  word-break: break-word;
  max-width: 230px;
}
.maps-and-contact h1 {
  padding-top: 0;
  padding-bottom: 15px;
}
.maps,
.maps address {
  height: 100%;
}
.maps iframe {
  width: 100%;
  border: none;
  height: 100%;
}
.contact-hours-wrapper {
  display: flex;
  justify-content: space-around;
}
.working-hours h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 0;
}
.work-wrapper {
  display: flex;
  justify-content: space-around;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gainsboro;
  padding-top: 0.7rem;
  padding-right: 1.5rem;
  padding-bottom: 0.7rem;
  padding-left: 0px;
}
.work-wrapper p {
  text-transform: capitalize;
  margin: 0;
}
.work-wrapper .hours {
  margin-left: 1.5rem;
}
.social-media a {
  font-size: 22px;
  padding-right: 0.5em;
  text-decoration: none;
}
.footer p {
  margin: 0;
  color: #fff;
}
.footer p .g99_logo {
  height: 1.3em;
}
.footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 6em 0 1em;
  height: 60px;
}

@media screen and (max-width: 991px) {
  /* Footer area */
  .maps-and-contact h2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .maps iframe {
    height: 300px;
  }
  .contact-hours-wrapper {
    justify-content: space-around;
  }
  .footer {
    padding: 1em 1em 0em;
  }
}

@media screen and (max-width: 767px) {
  /* Footer area */
  .contact-hours-wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .working-hours h4 {
    border: none;
    margin-bottom: 10px;
  }

  .working-hours {
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
  .wrapper7.last p,
  .wrapper7.last {
    text-align: center;
    margin: 0 auto;
  }
  .a-section {
    padding-bottom: 1em;
  }
}
