* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* head */
.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address a {
    font-family: Montserrat, sans-serif;
    color: rgb(78, 66, 68);
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address .businessAddress {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.home-wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 50px 0 0;
}

.home-wrapper ._title {
    font-family: 'Montserrat', sans-serif;
    max-width: 725px;
    margin: 0 auto;
    font-size: 52px;
    font-weight: 300;
    color: #53aabb;
    text-align: center;
    margin-bottom: 1rem;
}

.home-wrapper .row h3,
.home-wrapper .row h4 {
    color: #404041;
}

.home-wrapper .new-offer {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    /* color: rgb(52, 47, 50); */
    color: #065eae;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1rem;
}

.home-wrapper .left-side ._title {
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    color: rgb(148, 117, 100);
}

.home-wrapper .left-side ._subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.home-wrapper .terms {
    /* font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 300;
    text-align: center; */
    max-width: 555px;
    margin: 0 auto;
}

.home-wrapper .buttons {
    display: flex;
    justify-content: center;
}

.home-wrapper .right-side ._title {
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    color: rgb(148, 117, 100);
}

.home-wrapper .areas-1 {
    /* border: 10px solid rgba(50,47,52,1); */
}

.banner-btn {
    position: absolute;
    top: 66%;
    transform: translateX(-50%);
    left: 68%;
}

.banner {
    position: relative;
}

.main {
    overflow-x: hidden;
}

.main h3 {
    color: #404041;
    font-family: Lato, sans-serif;
    font-size: 36px;
}

.main h4 {
    /* color: rgb(0, 0, 0); */
    color: #404041;
    font-family: Lato, sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.main li,
.main p {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    color: rgb(33, 37, 41);
    line-height: 1.5;
}

.main a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

img {
    max-width: 100%;
}

.logo1 img {
    max-width: 180px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.menu {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(66, 66, 67);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(66, 66, 67);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 555;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
}

.menu .links {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    white-space: nowrap;
}

.menu a {
    color: rgb(48, 48, 48);
    font-family: Lato, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.title {
    padding-top: 2em;
    padding-right: 0px;
    padding-bottom: 2em;
    padding-left: 0px;
}

.para {
    padding-bottom: 2em;
}

.grid2 .img2 {
    margin-bottom: 15px;
}

.div-border-top {
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: rgb(66, 66, 67);
}

.price-btn {
    background-color: rgb(66, 66, 67);
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    color: #fff;
}

.buttons {
    padding-top: 1em;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.price-btn a {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.div4 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.div4 .title {
    padding-top: 0px;
}

.div5 .img5 {
    padding-top: 0.5em;
    padding-right: 0px;
    padding-bottom: 0.5em;
    padding-left: 0px;
}

.img5 p.small {
    font-size: 13px;
}

.contact-form {
    padding-top: 4em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(53, 53, 53);
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    text-align: center;
}

.footer-sub h3 {
    color: rgb(66, 66, 67);
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.footer-sub {
    margin-top: 2em;
    margin-bottom: 2em;
}

.footer-sub a {
    color: rgb(66, 66, 67);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.footer-sub .social-icon {
    display: flex;
    margin-top: 2em;
}

.footer-sub .social-icon a {
    background-color: rgb(66, 66, 67);
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 0.5em;
    margin-bottom: 0px;
    margin-left: 0.5em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sub iframe {
    width: 100%;
    height: 250px;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    max-width: 100% !important;
}

.footer-logo img {
    max-width: 200px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.footer-logo+p {
    margin-top: 1em;
}

.grid51 {
    padding-top: 2em;
    padding-right: 0px;
    padding-bottom: 2em;
    padding-left: 0px;
}

.grid51 img {
    height: 100%;
}

.grid51 .author {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.grid51 .author-name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.grid51 .content51 {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.testimonial-wrapper iframe {
    width: 100%;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 200px;
}

.testimonial-wrapper p {
    text-align: center;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.about-img img {
    height: 100%;
}

.about-img {
    height: 100%;
    margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
    .head .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head .price-btn {
        margin-right: 30px;
    }
}

@media screen and (max-width: 767px) {

    /* head */
    .head {
        padding-top: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
    }

    .head .price-btn {
        display: none;
    }

    .hide-sm {
        display: none;
    }

    .logo1 img {
        max-width: 120px;
    }

    .div4 .title {
        padding-top: 1em;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-sub h3 {
        text-align: center;
        padding-top: 1em;
        padding-right: 0px;
        padding-bottom: 1em;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .footer-sub .social-icon {
        justify-content: center;
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 480px) {
    p {
        text-align: center;
    }

    .price-btn {
        display: block;
        margin: 0 auto;
    }

    .home-wrapper .left-side h3 {
        text-align: center;
    }

    .main h3 {
        font-size: 33px;
        text-align: center;
    }

    .address .businessAddress,
    .address .businessname {
        text-align: left;
    }

    .home-wrapper ._title {
        font-size: 38px;
    }

    .home-wrapper ._subtitle {
        font-size: 30px;
    }

    .about-img {
        height: auto;
        margin-bottom: 0;
    }

    .about-img img {
        height: auto;
    }

    .grid51 img {
        height: auto;
    }
}