* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
span,
h1 {
  font-family: Raleway, sans-serif;
}
img {
  max-width: 100%;
}
p {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #5d6d6d;
  margin: 0;
}
li {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: #5d6d6d;
}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
.tile1 .row-wrapper {
  height: 100%;
}
.tile1 .row-wrapper > .col-lg-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 700px;
  padding-bottom: 2rem;
  background-color: #f0f4f5;
  width: 100%;
  background-size: cover;
}
.tagline {
  width: 100%;
  max-width: 530px;
}
.tagline p {
  color: #5d6d6d;
  margin-bottom: 10px;
}
.tagline h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  /* line-height: 176%; */
  color: #5d6d6d;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.tagline .offer-wrapper {
  border: 1px solid #5d6d6d;
  padding: 1rem;
  margin-top: 20px;
  margin-bottom: 25px;
}
.tagline .offer {
  color: #5d6d6d;
  font-weight: 700;
  font-size: 25px;
}
.contact-form {
  max-width: 540px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 560px; */
}
.contact-form h2 {
  color: #5d6d6d;
  font-weight: 600;
}
.left2 {
  max-width: 540px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  display: flex;
  align-items: center;
  /* height: 560px; */
  height: 100%;
}
.content2 p {
  margin-bottom: 10px;
}
.tile2 {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
.tile2 .right2 {
  padding-top: 30px;
}
.tile2 .contact-form {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  /* padding-top: 70px; */
}
.tile2 .contact-form iframe {
  max-width: 100%;
}
.tile3 {
  min-height: 524px;
  background-image: url("https://g99plus.b-cdn.net/Group4%20p3/image%2013.png");
  width: 100%;
  background-size: cover;
}
.tile3 p {
  color: rgb(255, 255, 255);
}
.img3 {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 743px;
  min-height: 524px;
  flex-direction: column;
}
.content3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 743px;
  min-height: 524px;
  flex-direction: column;
}
.content3 h4 {
  color: white;
}
.tile4 {
  padding-top: 2em;
  padding-right: 1em;
  padding-bottom: 3em;
  padding-left: 1em;
}
.head {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-right: 3em;
  padding-bottom: 0px;
  padding-left: 3em;
  z-index: 2;
  position: relative;
}
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}
.address {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgb(78, 66, 68);
}
.address p.businessname {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgb(78, 66, 68);
  margin-bottom: 0px;
}
.address p.businessAddress {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.price-btn {
  background-color: #5d6d6d;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
.price-btn.btn-light {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.price-btn.black {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.small-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f5;
  padding: 1rem 0;
}
.small-footer p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.tile3 .action-btn,
.tile1 .action-btn {
  margin-top: 1em;
}
.faq {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
}
.faq > h2 {
  font-weight: 600;
  margin-left: 1rem;
}
.acc-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  padding: 10px;
}
.question-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f4f5;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.question-card .card-header h5 {
  font-weight: 700;
  cursor: pointer;
  color: #5d6d6d;
}
.card-body {
  background-color: #f0f4f5;
}
li > p {
  margin-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .img3 {
    min-height: auto;
    padding: 2rem 1rem 0;
  }
  .content3 {
    min-height: auto;
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
  }
}
@media screen and (min-width: 768px) {
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-button {
    margin-right: 30px;
  }
  .action-button button {
    background-color: #5d6d6d;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .contact-form {
    height: auto;
  }
  .left2 {
    height: auto;
    /* padding-top: 3em; */
  }
  .tile2 .contact-form {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .tagline h1 {
    font-size: 36px;
  }
  .head {
    padding-top: 1em !important;
    padding-right: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 1em !important;
  }
  .head .action-button {
    display: none;
  }
}
