* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h3,
span,
h1 {
    font-family: Raleway, sans-serif !important;
}

img {
    max-width: 100%;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: rgb(78, 66, 68);
    font-family: Raleway, sans-serif !important;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-btn {
    background-color: rgb(71, 41, 33);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.price-btn.btn-light {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.price-btn.black {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(243, 239, 239);
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.pos-rel {
    position: relative;
}

.tile3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://g99plus.b-cdn.net/Landingpages/advance_image_medspa/skin_tightening/AdobeStock_296508392.jpeg");
    background-position-x: 25%;
    background-position-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    min-height: 598px;
    display: flex;
    align-items: flex-end;
}

.content3 {
    padding-top: 3em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(255, 255, 255, 0.49);
}

.content3 h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.bg-img3 {
    width: 100%;
}

.borderp {
    margin-bottom: 25px;
}

.borderp p {
    max-width: 380px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.tile3 .content3 p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: italic;
}

.content-center {
    max-width: 539px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.tile1 {
    background-image: url("https://g99plus.b-cdn.net/Landingpages/advance_image_medspa/skin_tightening/AdobeStock_129212715%20(1).jpeg");
    background-position-x: initial;
    background-position-y: 30%;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    min-height: 890px;
    display: flex;
    align-items: flex-end;
}

.wrapper1 {
    width: 100%;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(255, 255, 255, 0.49);
    padding-top: 3em;
    padding-right: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
}

.tile1 .content-center {
    height: 100%;
    padding-top: 0px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 1em;
    margin-top: unset;
    margin-bottom: unset;
    margin-left: auto;
    margin-right: 8em;
}

.tile1 .wrapper1 p,
.tile1 .wrapper1 h1 {
    color: #4E4244;
}

.tile1 p {
    font-weight: 500;
}

.tile2 {
    padding-top: 4em;
    padding-right: 0px;
    padding-bottom: 4em;
    padding-left: 0px;
}

.tile2 .content2 {
    max-width: 580px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.content-head4 {
    max-width: 600px;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 4em;
}

.content-title4 {
    padding-top: 4em;
    padding-right: 0px;
    padding-bottom: 4em;
    padding-left: 0px;
    text-align: center;
}

.grid4 {
    max-width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.grid4 .row {
    margin-bottom: 110px;
}

.grid4 .content-center {
    max-width: 380px;
}

.wrapper6 .content6 {
    max-width: 400px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.tile6 .title4 {
    margin-top: 4em;
    margin-right: 4em;
    margin-bottom: 0px;
    margin-left: 4em;
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address .businessAddress {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: rgb(78, 66, 68);
}

.review {
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 5px;
}

.reviewer {
    font-weight: 600;
    text-align: right;
    margin-bottom: 30px;
}

.ba-section {
    padding: 2rem 0 0;
}

@media screen and (max-width: 991px) {
    .left4 {
        padding-top: 2em;
    }

    .tile4 .right4 {
        margin-top: 2em;
    }

    .tile1 .content-center {
        padding-top: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
    }

    .price-btn.black {
        margin-top: 1em;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        background-color: rgb(71, 41, 33);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .content-title4 {
        padding-top: 2em;
        padding-right: 0px;
        padding-bottom: 2em;
        padding-left: 0px;
    }

    .content-head4 {
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-top: 2em;
    }

    .grid4 .row {
        margin-bottom: 65px;
    }

    .tile4 {
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 0px;
        padding-left: 15px;
    }

    .left4 {
        padding-top: 0.8em;
    }

    .grid4 {
        max-width: 100%;
    }

    .tile1 {
        background-position-x: 40%;
    }

    .tile1 .content-center {
        margin-right: 1em;
    }

    .tile3 .content3 {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
    }

    .tile4 .right4 {
        align-content: center;
        min-height: 100%;
        margin-top: 0px;
    }

    .img4 {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }

    .head {
        padding-top: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
        height: auto !important;
        max-height: none !important;
    }

    .head .action-button {
        display: none;
    }

    .tile3 {
        min-height: 400px;
        padding-top: 3em;
        padding-right: 0px;
        padding-bottom: 3em;
        padding-left: 0px;
    }

    .tile2.tile5 {
        padding-top: 1em;
    }

    .ba-section .ba-image {
        padding: 0.6rem 0;
    }

    .ba-section {
        padding: 2rem 0 0;
    }
}