* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h3,
span,
h1,
h2 {
    font-family: Raleway, sans-serif !important;
}

img {
    max-width: 100%;
}

.border2 {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(5, 9, 12);
    border-right-color: rgb(5, 9, 12);
    border-bottom-color: rgb(5, 9, 12);
    border-left-color: rgb(5, 9, 12);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 40%;
    position: absolute;
    left: 0px;
}

span.border4 {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(5, 9, 12);
    border-right-color: rgb(5, 9, 12);
    border-bottom-color: rgb(5, 9, 12);
    border-left-color: rgb(5, 9, 12);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    display: block;
    width: 20%;
    margin-left: -2em;
}

p {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: rgb(78, 66, 68);
}

p.small-text {
    font-size: 15px !important;
}

.golden-text {
    color: #c4965c;
}

.tagline h1 {
    font-weight: 100;
    font-size: 72px;
    line-height: 117.8%;
}

.tagline p {
    font-size: 30px;
    line-height: 150%;
}

.white p,
.white h1,
.white h3 {
    color: rgb(255, 255, 255);
}

.tile2 {
    padding-top: 4em;
    padding-bottom: 4em;
}

.tile2 h3 {
    font-weight: 200;
    font-size: 36px;
    line-height: 151.9%;
    padding-bottom: 0.8em;
    color: #14191f;
}

.tile2 p {
    padding-top: 2em;
}

.tile2 .content4 p {
    padding-top: 1em;
    font-style: italic;
}

.tile2 .content4 .bigger {
    font-size: 120%;
    padding-top: 1.5em;
}

.tile2 .action-btn {
    padding-top: 2em;
}

.bg-img1 {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #2E2929;
    height: 100%;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    min-height: 880px;
}

.bg-img1 img {
    text-align: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
}

.bg-green {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #2E2929;
    height: 100%;
}

.tagline {
    background-color: rgba(61, 54, 52, 0.49);
    padding-top: 39px;
    padding-right: 4em;
    padding-bottom: 39px;
    padding-left: 4em;
    position: absolute;
    bottom: 5em;
    width: 100%;
}

.content2 {
    max-width: 513px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.content3 {
    max-width: 513px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.content3 h3 {
    font-weight: 100;
    font-size: 64px;
    line-height: 124.3%;
    padding-bottom: 1em;
}

.dark {
    font-weight: 700;
    color: #c4965c;
}

.content4 {
    max-width: 380px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.img3 {
    height: 100%;
}

.img3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-btn {
    background-color: #c4965c;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.big-btn {
    height: auto;
}

.price-btn.black {
    color: #fff;
    background-color: #c4965c;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #2E2929;
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* font-weight: 500; */
    color: #fff;
}

.pos-rel {
    position: relative;
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
    /* background-color: #fdfaf6; */
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.logo img {
    max-height: 80px;
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address .businessAddress {
    font-family: Raleway, sans-serif;
    color: rgb(78, 66, 68);
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.ba-section {
    padding: 2rem 0 0rem;
    text-align: center;
}

.review-wrapper {
    padding: 2rem 0 0;
    text-align: center;
}

.review-wrapper video {
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .price-btn.black {
        margin-top: 1em;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        background-color: #c4965c;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .head {
        padding-top: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
        height: auto !important;
        max-height: none !important;
    }

    .head .action-button {
        display: none;
    }

    .tagline h1 {
        font-size: 40px;
    }

    .tagline p {
        font-size: 24px;
    }

    .content3 h3,
    .tile2 h3 {
        font-size: 28px;
    }

    .content4 {
        text-align: center;
    }

    span.border4 {
        text-align: center;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .ba-section .ba-image {
        padding: 1rem 0;
    }

    .review-wrapper {
        padding: 1rem 0 0;
    }
}

@media (max-width: 480px) {
    .tagline {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 400px) {

    /* on live page the bottom space will be filled out with contact form */
    .tagline {
        top: 0;
    }
}