* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'awonderfulfeather';
    src: url('https://g99plus.b-cdn.net/Landingpages/new%20u%20clinic/WonderfulFeather-OVoZp.ttf');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: 'awonderfulfeather', sans-serif;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

iframe {
    width: 100%;
    max-width: 100%;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 170%;
    color: #212529;
    /* font-family: Raleway, sans-serif !important; */
    font-family: 'Roboto', sans-serif;
}

.price-btn {
    /* font-family: Raleway, sans-serif; */
    background-color: #7bbbbd;
    border-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    /* font-family: Raleway, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address .businessAddress {
    display: block;
    color: rgb(78, 66, 68);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.tile1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-color: #c8c7c2;
}

.tile1::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://g99plus.b-cdn.net/Landingpages/new%20u%20clinic/morpheus/new-u-breadcrumbs-a-main-jpg.webp');
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    z-index: 0;
    filter: brightness(121%) contrast(70%) saturate(79%) blur(0px) hue-rotate(0deg);
}

.tile1 .c-wrapper {
    position: relative;
    text-align: center;
    z-index: 9;
}

.tile1 h1,
.tile1 h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 4px 6px 5px #A59168;
}

.tile1 h1 {
    font-size: 50px;
}

.tile2 {
    padding: 3rem 0;
}

.tile2 .big-heading {
    font-size: 50px;
    color: #7BBBBD;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 0 2rem;
}

.tile2 .row {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

.tile2-1 {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.tile2 .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile2 p {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    text-align: center;
    max-width: 450px;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #A59168;
}

.tile3 {
    padding: 4rem 0;
    background-color: #fcf9f7;
}

.tile3 img {
    border: 4px double #7BBBBD;
    display: block;
    margin: 0 auto;
}

.tile3 .row {
    max-width: 1340px;
    padding: 0 1rem;
    margin: 0 auto;
}

.tile3 .row:first-of-type {
    max-width: 1140px;
    padding: 0 1rem;
    margin-bottom: 4rem;
}

.tile3 .left {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile3 .heading {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 1px;
    color: #7BBBBD;
    text-align: center;
    margin-bottom: 1rem;
}

.tile3 p {
    font-size: 15px;
    font-weight: 300;
    color: #686A6A;
    line-height: 2;
}

.tile3.tile4 .row {
    margin-bottom: 0;
}

.review-wrapper {
    background-color: transparent;
    background-image: radial-gradient(at center center, #A5916800 38%, #A5916880 100%);
    text-align: center;
    padding: 3rem 0;
}

.ba-section {
    padding: 3rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ba-section h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 75px;
    color: #7BBBBD;
    margin-bottom: 2rem;
}

.ba-section>.row {
    display: flex;
    justify-content: center;
}

.ba-section>.row:first-of-type {
    padding-bottom: 2rem;
}

.ba-section>.row:last-of-type {
    padding-top: 2rem;
}

.ba-section .divider {
    height: 0;
    width: 1200px;
    max-width: 100%;
    border-bottom: 2px solid #A591683D;
}

.ba-section>.row>div {
    padding: 0;
}

.ba-section>.row>div:first-of-type {
    padding-right: 2rem;
    border-right: 2px solid #A591683D;
}

.ba-section>.row>div:last-of-type {
    padding-left: 2rem;
}

.ba-section .ba-image {
    border-radius: 10px;
}

.tile5 {
    padding-bottom: 3rem;
}

.tile5 .row {
    max-width: 1140px;
    margin: 0 auto;
}

.tile5 .row>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile5 .heading {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 1px;
    color: #7BBBBD;
    text-align: center;
    margin-bottom: 3rem;
    padding: 0 2rem;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a7a7a;
}

.footer p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1200px) {
    .ba-section .row {}

    .ba-section>.row:first-of-type {
        padding-bottom: 1rem;
    }

    .ba-section>.row:last-of-type {
        padding-top: 1rem;
    }

    .ba-section>.row>div:first-of-type {
        padding-right: 1rem;
    }

    .ba-section>.row>div:last-of-type {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 991px) {
    .tile2 {
        padding-bottom: 2rem;
    }

    .tile2-1 {
        margin-bottom: 2rem;
    }

    .last-reviewer {
        margin-bottom: 0;
    }

    .tile5 iframe {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        background-color: #7bbbbd;
        border-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 10px 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .head {
        padding: 1em !important;
        height: auto !important;
        max-height: none !important;
    }

    .head .action-button {
        display: none;
    }

    .tile1 {
        min-height: 400px;
        padding: 0 1rem;
    }

    .tile2-1 {
        max-width: 500px;
    }

    .tile2 .big-heading {
        font-size: 40px;
    }

    .ba-section>.row>div:first-of-type {
        padding-right: 0;
        border-right: none;
    }

    .ba-section>.row>div:last-of-type {
        padding-left: 0;
    }

    .ba-section>.row>div:first-of-type img {
        margin-bottom: 1.5rem;
    }

    .tile5 iframe {
        height: 400px;
    }
}

@media screen and (max-width: 576px) {
    .tile2 .row {
        padding: 0;
    }

    .tile2-1 {
        max-width: 100%;
    }

    .tile3 {
        padding: 3rem 0;
    }

    .tile3 .row:first-of-type {
        margin-bottom: 2rem;
    }

    .tile3 .heading {
        font-size: 35px;
        line-height: 50px;
    }

    .tile3.tile4 .row {
        margin-bottom: 0;
    }

    .ba-section {
        padding: 2.5rem 1rem 3rem;
    }

    .ba-section h2 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 1.5rem;
    }

    .ba-section>.row>div:first-of-type img {
        margin-bottom: 1rem;
    }

    .tile5 {
        padding-bottom: 2rem;
    }

    .tile5 .heading {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }

    .tile5 iframe {
        height: 200px;
    }
}