* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

span,
h1 {
    font-family: Comfortaa, cursive;
}

img {
    max-width: 100%;
}

p {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: rgb(78, 66, 68);
}

.price-btn {
    background-color: rgb(16, 18, 20);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.price-btn.black {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-top: 2em;
}

.content8 {
    max-width: 950px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
}

.content8 p {
    font-size: 24px;
}

.wrapper9 {
    max-width: 85%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.content10 {
    max-width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 239, 239);
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address .businessAddress {
    display: block;
    font-family: Raleway, sans-serif;
    color: rgb(78, 66, 68);
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.action-button {
    display: none;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.main-content {
    text-align: center;
    padding: 3rem 25px;
}

.main-content .main-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: 600;
    line-height: 45px;
    color: #39464F;
    margin: 0 auto 2rem;
    max-width: 900px;
}

.main-content .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #39464F;
    margin-bottom: 2rem;
}

.main-content .banner {
    width: 66%;
    max-width: 900px;
}

@media screen and (min-width: 1400px) {
    .wrapper9 {
        max-width: 80%;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }
}

@media screen and (max-width: 991px) {
    .price-btn.black {
        margin-top: 1em;
    }

    .content1 {
        position: relative;
        left: unset;
        padding-top: 2em;
        padding-right: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
    }

    .wrapper9 {
        max-width: 100%;
        padding-bottom: 2em;
    }

    .content10 {
        margin-top: 6em;
        margin-bottom: 4em;
    }

    .bg2 {
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
        display: inline-block;
    }

    .action-button button {
        background-color: rgb(16, 18, 20);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .action-button button:hover {
        color: #fff !important;
    }
}

@media screen and (min-width: 991px) {
    .content1 {
        padding: 0 15px;
    }
}

@media screen and (max-width: 767px) {
    .head {
        padding: 1rem;
        height: auto !important;
        max-height: none !important;
    }

    .main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    /* .footer {
        margin-top: auto;
    } */

    /* main content */
    .main-content {
        padding: 3rem 15px;
    }

    .main-content .main-heading {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 1.2rem;
    }

    .main-content .banner {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-content .main-heading {
        font-size: 25px;
        line-height: 30px;
    }
}