* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h3,
span,
h1 {
    font-family: Raleway, sans-serif !important;
}

img {
    max-width: 100%;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: rgb(78, 66, 68);
    font-family: Raleway, sans-serif !important;
}

@keyframes fadeIn {
    0% {
        top: -40px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.bg-pink {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #3a554c;
}

.bg-pink p {
    color: #fff;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-btn {
    background-color: #3a554c;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.price-btn.btn-light {
    color: #3a554c;
    background-color: rgb(255, 255, 255);
}

.price-btn.black {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.rigt1 {
    width: 80%;
    background-color: #3a554c;
    height: 100%;
    margin-left: auto;
}

.rigt1 img {
    width: 100%;
    position: relative;
    top: 5em;
    left: -15%;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #3a554c;
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #fff;
}

.pos-rel {
    position: relative;
}

.c1 {
    position: relative;
    animation: linear 0.75s fadeIn;
}

.tile1 h1 {
    color: rgb(52, 48, 49);
}

.content-center {
    max-width: 539px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address .businessAddress {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: rgb(78, 66, 68);
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.tile2 {
    margin-top: 10%;
}

.tile2 .content2 {
    max-width: 600px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.tile5 .content3 {
    text-align: center;
}

.tile2.tile6 {
    margin-top: 6em;
}

.tile6 .content2 {
    max-width: 480px;
}

.tile3 {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(243, 212, 210);
}

.tile3 b {
    font-weight: 700;
}

.content4 {
    max-width: 504px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content3 {
    max-width: 504px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.img4 {
    text-align: right;
}

.img4 img {
    max-width: 80%;
}

.tile4 {
    margin-top: 6em;
    margin-right: 0px;
    margin-bottom: 6em;
    margin-left: 0px;
}

@media screen and (max-width: 991px) {
    .price-btn.black {
        margin-top: 1em;
    }

    .tile1 .content-center {
        margin-top: 10%;
    }

    .img3 img {
        width: 100%;
    }

    .img4 img {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        background-color: #3a554c;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .tile1 .content-center {
        margin-top: 25%;
    }

    .head {
        padding-top: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
    }

    .head .action-button {
        display: none;
    }
}