* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h3,
span,
h1 {
    font-family: Raleway, sans-serif !important;
}

img {
    max-width: 100%;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: rgb(78, 66, 68);
    font-family: Raleway, sans-serif !important;
}

li {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: rgb(78, 66, 68);
    font-family: Raleway, sans-serif !important;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-btn {
    background-color: #1a3f95;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.price-btn.btn-light {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.price-btn.black {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(243, 239, 239);
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.pos-rel {
    position: relative;
}

.tile1 {
    background-image: url("https://g99plus.b-cdn.net/Landingpages/rediscover_aesthetics/events/Background-%20GSR%20bubbles%20landscape%20%201.png");
    background-position-x: initial;
    background-position-y: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    width: 100%;
    background-size: cover;
    min-height: 661px;
    position: relative;
}

.wrapper1 {
    min-height: 661px;
    align-items: center;
    display: flex;
    justify-content: center;
    /* background-image: url("https://g99plus.b-cdn.net/Group%2010%20Morpheous/p2/image%2014.png"); */
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.content-center {
    max-width: 530px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
}

.content-center img {
    width: 80%;
}

.content-center.c1 h1 {
    margin-top: 1rem;
}

.c1 p {
    font-size: 20px;
    font-weight: bold;
}

.rigt1 .img1 {
    z-index: 5;
}

.pos-abs {
    position: absolute;
}

.img11 {
    width: 300px;
    height: 300px;
    background-image: url('https://g99plus.b-cdn.net/Landingpages/rediscover_aesthetics/events/Logo-%20Blue%20Z%20letter.png');
    background-size: cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    bottom: 3em;
    left: 3em;
    z-index: 3;
}

.img12 {
    top: 3em;
    z-index: 3;
    right: 3em;
}

.tile2 {
    padding-top: 5em;
    padding-right: 0px;
    padding-bottom: 5em;
    padding-left: 0px;
}

.tile2 .content2 {
    max-width: 420px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.content2 .action-btn {
    margin-bottom: 2rem;
}

.content2 img {
    border-radius: 50%;
}

.img21 img {
    position: relative;
    z-index: -9;
    max-height: 421px;
    left: 0px;
}

.box-shadow p {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.tile3 {
    background-image: url("https://g99plus.b-cdn.net/Landingpages/rediscover_aesthetics/events/Background-%20GSR%20bubbles%20landscape%20%201.png");
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-top: 0em;
    margin-right: 0px;
    margin-bottom: 2em;
    margin-left: 0px;
}

.tile3 .flex {
    display: flex;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.tile3 .c3 {
    max-width: 631px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 4em;
}

.tile3 .img31 {
    margin-top: -9em;
    margin-right: 3em;
    background-image: url('https://g99plus.b-cdn.net/Landingpages/rediscover_aesthetics/events/Kit%201.png');
}

.tile3 .img32 {
    margin-bottom: -9em;
    margin-left: 2em;
    background-image: url('https://g99plus.b-cdn.net/Landingpages/rediscover_aesthetics/events/kit%202.png');
}

.img31,
.img32 {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tile4 {
    margin-top: 9em;
}

.content41 {
    max-width: 500px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.head {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
}

.address p.businessname {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgb(78, 66, 68);
    margin-bottom: 0px;
}

.address p.businessAddress {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

@media screen and (min-width: 1024px) {
    .tile3 img {
        max-width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .price-btn.black {
        margin-top: 1em;
    }

    .tile1 .pos-abs {
        position: relative;
    }

    .tile1 {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://g99plus.b-cdn.net/Landingpages/rediscover_aesthetics/events/Background-%20GSR%20bubbles%20landscape%20%201.png");
    }

    .tile3 {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://g99plus.b-cdn.net/Landingpages/rediscover_aesthetics/events/Background-%20GSR%20bubbles%20landscape%20%201.png");
        margin-bottom: 0;
    }

    .wrapper1,
    .tile3 .flex {
        padding-top: 2em;
        padding-right: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
        flex-direction: column;
    }

    .img12 {
        left: unset;
        right: unset;
        top: unset;
        bottom: unset;
    }

    .img11 {
        left: unset;
        right: unset;
        top: unset;
        bottom: unset;
    }

    .tile3 .img31,
    .tile3 .img32 {
        margin-top: 0px !important;
        margin-right: auto !important;
        margin-bottom: 0px !important;
        margin-left: auto !important;
    }

    .img41 img {
        width: 100%;
    }

    .tile5 {
        margin-top: 0;
        padding: 3rem 0;
    }

    .tile2 {
        padding: 1rem 0;
    }

    .tile4 .content41 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .tile4 {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        background-color: #1a3f95;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .head {
        padding-top: 1em !important;
        padding-right: 1em !important;
        padding-bottom: 1em !important;
        padding-left: 1em !important;
    }

    .head .action-button {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .content-center img {
        width: 100%;
    }

    .tile5 {
        padding: 2rem 0;
    }
}