* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

span,
h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #000;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #000;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.price-btn {
    background: #17163d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    width: 100%;
    max-width: 350px;
}

.footer {
    height: 100px;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
}

.footer-logo {
    max-height: 70px;
}

.footer p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #17163d;
    padding: 0 10px;
}

.footer a {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #17163d;
    padding: 0 10px;
}

.head {
    height: 100px;
    background-color: #17163d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;
    z-index: 2;
    position: relative;
}

.head .width-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.head .businessAddress {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.width-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

/* tile 1 */

.tile1 {
    padding: 3rem 0 4rem;
}

.tile1-logo {
    max-height: 120px;
    display: block;
    margin: 0 auto 2rem;
}

.tile1 .main-heading {
    font-size: 66px;
    font-weight: 300;
    line-height: 1;
    color: #17163d;
    text-align: center;
    max-width: 640px;
    margin: 0 auto 4rem;
}

.tile1 .sub-heading {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.tile1 .last.sub-heading {
    margin-bottom: 30px;
}

.tile1 .normal {
    margin-bottom: 0.5rem;
}

.tile1-1 {
    border-radius: 8px;
}

/* tile 2 */

.tile2 {
    background-color: #17163d;
    text-align: center;
    padding: 40px 0;
}

.tile2 .heading {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1rem;
    color: #f7ab97;
}

.tile2 p {
    display: block;
    max-width: 800px;
    margin: 0 auto 1.5rem;
    padding: 0 15px;
    color: #fff;
}

.tile2 .images-wrapper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.tile2 img {
    border-radius: 8px;
    /* border: 2px solid #fff; */
}

.tile2-1 {
    width: 50%;
    transform: translateX(30%);
}

.tile2-2 {
    position: absolute;
    height: 75%;
    top: 50%;
    left: 30%;
    transform: translateY(-50%) translateX(-50%);
}

/* tile 3 */
.tile3 {
    padding: 70px 0;
}

.tile3 h2 {
    font-size: 36px;
    font-weight: 400;
    color: #17163d;
    margin-bottom: 1.5rem;
}

.tile3 p {
    color: #000;
}

.tile3 .sub-heading {
    font-size: 20px;
    font-weight: 500;
    color: #55595C;
    text-align: center;
    margin-bottom: 1.5rem;
}

.tile3 .text-wrapper {
    padding: 0 15px;
    margin-bottom: 2.5rem;
}

.tile3 .para {
    /* font-size: 14px; */
    font-weight: 400;
    /* max-width: 850px; */
    margin: 0 auto 2rem;
    /* padding: 0 15px; */
    text-align: center;
}

.tile3 ul {
    list-style: none;
    padding-left: 0;
}

.tile3 .features-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.tile3 .features {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin: 0 auto;
    width: auto;
}

.tile3 .icon-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.tile3 .icon-wrapper {
    border: 2px solid #947564;
    border-radius: 16px;
    height: 120px;
    min-width: 120px;
    display: grid;
    place-items: center;
    flex-basis: 1;
}

.tile3 .icon-card p {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-style: italic;
    color: #947564;
    margin-bottom: 0;
}

.tile3 .icon {
    max-width: 75px;
}

.tile3-1 {
    display: block;
    margin: 0 auto 2rem;
}

/* tile 4 */
.tile4 {
    background-color: #17163d;
    padding: 50px 0 50px;
}

.tile4 h2 {
    color: #f7ab97;
}

/* .tile4 p {
    color: #55595C;
} */

.tile4 .row>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tile4 .reviewer {
    text-align: right;
    font-weight: 700;
}

/* tile 5 */
.tile5 {
    padding: 60px 0;
}

.tile5 .images-wrapper {
    /* height: 470px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tile5 .images-wrapper img {
    /* position: absolute; */
    border-radius: 8px;
    border: 2px solid #fff;
}

.tile5-1,
.tile5-2 {
    width: 45%;
}

.tile5-1 {
    left: 0;
    top: 0;
}

.tile5-2 {
    right: 0;
    top: 20px;
}

.tile5-3 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
}

.tile5 .main-heading {
    font-size: 52px;
    font-weight: 300;
    line-height: 1.2;
    color: #17163d;
    text-align: center;
    margin-bottom: 1rem;
}

.tile5 p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
}

.tile5 .price-btn {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .head {
        padding: 1.5rem 0;
    }

    .head .width-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .tile1 .main-heading {
        font-size: 50px;
    }

    /* .tile5 .images-wrapper {
        height: 350px;
    } */

    .tile5 .main-heading {
        font-size: 45px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 768px) {
    .address {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-button {
        margin-right: 30px;
    }

    .action-button button {
        /* background-color: rgba(160, 118, 91, 1); */
        background-image: linear-gradient(-45deg, #A48A45 0%, #EBD371 100%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        outline: none;
        height: 50px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    .action-button {
        display: none;
    }

    .head {
        padding: 1rem 0;
        height: auto !important;
        max-height: none !important;
    }

    .tile1-logo {
        max-width: 175px;
    }

    .tile1 .main-heading {
        font-size: 45px;
        margin-bottom: 2rem;
        padding: 0 10px;
    }

    .tile3 .para {
        max-width: 100%;
    }

    /* tile 5 */
    .tile5 .images-wrapper {
        /* height: 500px; */
        margin-bottom: 2rem;
    }

    .footer {
        height: auto;
        flex-direction: column;
        padding: 1.25rem 0.5rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .tile3 {
        padding: 40px 0;
    }

    .tile3 h2 {
        font-size: 32px;
    }

    .tile3 .features {
        row-gap: 2rem;
    }

    .tile3 .icon-wrapper {
        height: 100px;
        min-width: 100px;
    }

    .tile3 .icon {
        max-width: 50px;
        max-height: 50px;
    }

    .tile4 {
        padding: 30px 0;
    }

    /* .tile5 .images-wrapper {
        height: 400px;
    } */

    .tile5 .main-heading {
        font-size: 40px;
    }

    .tile5-1 {
        top: 0;
        right: 0;
        left: auto;
        width: 55%;
    }

    .tile5-2 {
        bottom: 0;
        right: 0;
        top: auto;
        width: 55%;
    }

    .tile5-3 {
        width: 55%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}