/* Global Styling */
* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: Arapey, serif !important;
  overflow-x: hidden;
}
.main {
  overflow: hidden;
}
body > p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #3c3d31;
  font-family: "Playfair Display SC", serif !important;
}
h1 {
  font-size: 2.25rem;
}
p {
  font-size: 18px;
  line-height: 1.7;
  color: #423526;
  margin-bottom: 0;
}

div {
  position: relative;
  /* overflow-x: hidden; */
}

ul {
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

.front_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}
.after_bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
}
.contact_bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
}

.footer_bg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header {
  column-gap: 1.5rem;
}

.upper-part a {
  font-size: 16px;
  color: #000;
}

.header .btn {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background: #446c65;
  color: #fff;
}

.header .btn .fa {
  margin-left: 3px;
}

.logo-container img {
  max-height: 80px;
}

.border-div {
  flex-grow: 1;
  align-self: stretch !important;
  padding-top: 10px;
}

ul {
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

.upper-part a {
  font-size: 16px;
  color: #000;
}

.btn-vertical button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  right: -52px;
  transform: rotate(-90deg);
  top: 40%;
  z-index: 50;
  width: 150px;
  height: auto;
  text-align: center;
}

.main-nav {
  flex-grow: 1;
}

.header .main-container {
  column-gap: 1.5rem;
}

.divs {
  padding: 2em 0;
}

.social-media,
.wrapper7 {
  text-align: center;
}

.social-media a {
  font-size: 22px;
  padding: 0 0.5em;
  text-decoration: none;
}

/* Reusable Classes */
.bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}
.bgColor {
  background-color: #f9f6f1;
  /* background-color: red; */
}
.fgColor {
  color: #446c65;
}
.btn-book {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #446c65;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  border-radius: 12px;
  border: none;
}
.capped_content {
  max-width: 570px;
}
.capped_content .title {
  margin-bottom: 20px;
}
.capped_content .btn-book {
  margin-top: 40px;
}
.border_img {
  position: relative;
}
.border_img img {
  position: relative;
  z-index: 1;
}
.border_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 90%;
  border: 1px solid #008053;
  transform: translate(-30px, -30px);
  z-index: 0;
}

/* Header */
.header_bg {
  position: absolute;
  top: 0;
  left: 0;
}
.about_bg {
  position: absolute;
  top: 80%;
  right: 0;
}
.header-part {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: #f9f6f1; */
}

/* Front */
.front {
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  padding: 60px 0 100px;
}
.front .content_wrapper {
  flex-grow: 1;
}
.front .content_wrapper .capped {
  max-width: 540px;
}
.front .border_img::after {
  left: 20%;
}

/* About Us */
.about_us {
  padding: 4rem 0 6rem;
}
.about_us .capped_content {
  max-width: 550px;
}

/* Our Services */
.services {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.services .content_wrapper p {
  max-width: 890px;
}
.service-wrapper2 {
  padding: 1rem;
  background-color: transparent;
  box-shadow: rgba(143, 143, 143, 0.15) 2px 0px 20px 9px;
  border-radius: 6px;
  height: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#service-insert {
  padding: 3rem 0;
  align-items: stretch;
}

#service-insert > div {
  margin-bottom: 2rem;
}

/* Our People */
.our_people {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}
.people_bg {
  position: absolute;
  top: 80%;
  left: 1rem;
  transform: scale(1.2);
}
.our_people .content-wrapper {
  max-width: 670px;
  margin: 0 0 50px auto;
}
.our_people .content-wrapper h1 {
  margin-bottom: 20px;
}

/* Contact */
.contact {
  position: relative;
  padding: 50px 0;
  margin-bottom: 50px;
}
.contact_bg_img {
  position: absolute;
  left: 25%;
  top: -20%;
}

/* Virtual Consultation */
#symptoms {
  max-width: 80%;
  margin: 0 auto;
}

#symptoms iframe {
  width: 100%;
  border: none;
  height: 100vh;
}

/* Testimonials */
.testimonials {
  padding: 3rem 0;
}
.testimonials .content-wrapper {
  max-width: 775px;
  margin: 0 auto 3rem;
}
.testimonials .content-wrapper h1 {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.reviews {
  margin: 0 auto;
}
.reviews iframe {
  height: 400px;
  max-height: 400px;
}

/* Maps */
.maps iframe {
  width: 100%;
  height: 300px;
}

/* Footer */
.footer {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}
.footer p .g99_logo {
  height: 1rem;
}

@media screen and (min-width: 768px) {
  .front_bg {
    display: inline-block;
  }
  h1 {
    font-size: 3rem;
  }
  /* .contact.bgColor,
  .header-part.bgColor,
  .services.bgColor {
    background-color: transparent !important;
  } */
  .header-part {
    padding: 0 7%;
  }
  .border_img::after {
    height: 95%;
  }
  .header .icon-container {
    column-gap: 1.5rem;
  }
  .header {
    column-gap: 1.5rem;
  }
  .front {
    flex-direction: row;
  }
  .front .img_wrapper {
    margin: 0 60px;
  }
  .front .img {
    min-width: 400px;
  }
  .about_us {
    padding: 10rem 0 7rem;
  }
  .services {
    margin: 6rem 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .our_people .users {
    width: 80%;
    margin: 0 auto;
  }
  .our_people .content-wrapper {
    margin: 0 0 65px auto;
  }
  .contact {
    margin-bottom: 100px;
    background-color: transparent;
  }
  .front_bg {
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
  }
  .after_bg {
    height: 100%;
    width: 60%;
  }
  .contact_bg {
    height: 85%;
    width: 70%;
  }
  .services .content_wrapper {
    margin-bottom: 40px;
  }
  .services .img_wrapper {
    margin-left: 20px;
  }
  .services .border_img {
    transform: translateY(-50px);
  }
  .services .img {
    min-width: 270px;
  }
  .contact .border_img {
    margin-top: 200px;
  }
  .testimonials {
    padding: 7rem 0;
  }
  .reviews {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .header .icon-container {
    column-gap: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .border-div {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(171, 171, 171);
  }
  .services .main_content {
    margin-left: 80px;
  }
}

@media screen and (max-width: 991px) {
  .upper-part {
    margin: 0;
  }
  .header {
    column-gap: 0;
  }
  .border-div {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(171, 171, 171);
  }
}

.mail,
.tel {
  margin-left: 0.5rem;
}

.front {
  position: relative;
}

.line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.main-menu ul {
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

#hamburger-icon {
  width: 35px;
  height: 20px;
  position: relative;
  display: block;
  /* margin: 100px auto 50px auto; */
  /* transform: scale(0.4); */
}

#hamburger-icon .line {
  display: block;
  background: #000;
  width: 35px;
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#hamburger-icon .line.line-1 {
  top: 0;
}

#hamburger-icon .line.line-2 {
  top: 50%;
}

#hamburger-icon .line.line-3 {
  top: 100%;
}

#hamburger-icon.active .line-1 {
  transform: translateY(0px) translateX(0) rotate(46deg);
  -webkit-transform: translateY(0px) translateX(0) rotate(46deg);
  -moz-transform: translateY(0px) translateX(0) rotate(46deg);
}

#hamburger-icon.active .line-2 {
  opacity: 0;
}

#hamburger-icon.active .line-3 {
  transform: translateY(-19px) translateX(0) rotate(132deg);
  -webkit-transform: translateY(-19px) translateX(0) rotate(132deg);
  -moz-transform: translateY(-19px) translateX(0) rotate(132deg);
}

.main-menu {
  display: flex;
  justify-content: start;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 220px;
  max-width: 250px;
  width: 50vw !important;
  padding: 0 1rem;
  /* background-color: lightblue; */
  transform: translateX(100%);
  z-index: 99999;
  transition: all 0.2s ease-in-out;
}

.main-menu.active {
  transform: translateX(0);
  box-shadow: -1px 1px 13px 2px rgba(0, 0, 0, 0.46);
}

.main-menu > .btn-book {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu .main-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.main-list .icon-container {
  margin-top: 0.5rem;
}

.main-menu > .btn-book {
  align-self: center;
}

.main-list .btn-book {
  /* display: none; */
  align-self: center;
  margin-top: 0.5rem;
}

.header > .icon-container {
  display: none !important;
}

.menu-toggle {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.menu-toggle {
  z-index: 999999;
}

.icon-container {
  column-gap: 0.5rem;
}

.icon-btn .fa {
  margin-left: 3px;
}

.icon-btn {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(94, 37, 48);
  color: rgb(237, 228, 219);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.logo-container img {
  max-height: 80px;
}

.border-div {
  align-self: stretch !important;
}

.main-nav {
  /* flex-grow: 1; */
  font-size: 18px;
  color: rgb(79, 86, 101);
}

.main-nav .active {
  color: rgb(94, 37, 48);
}

.main {
  overflow-x: hidden;
}

.header-section-main a {
  color: #000;
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .front {
    padding-top: 0px;
    padding-right: 7%;
    padding-bottom: 0px;
    padding-left: 7%;
  }
  .border-div {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(171, 171, 171);
  }
}

@media screen and (min-width: 768px) {
  .header > .icon-container {
    display: flex !important;
  }
  .menu-toggle {
    display: none;
  }
  .main-menu {
    position: relative;
    justify-content: space-between;
    height: auto;
    width: auto;
    min-width: auto;
    max-width: none;
    margin-left: 2rem;
    flex-grow: 1;
    transform: translateX(0);
    background-color: transparent !important;
  }
  .main-menu > .btn-book {
    display: inline-block;
  }
  .main-nav {
    position: relative;
    flex-grow: 1;
    margin-right: 1rem;
    align-items: center;
  }
  .main-menu .main-list {
    flex-grow: 1;
    gap: none;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    font-size: 18px;
  }
  .main-list li {
    display: flex;
    align-items: center;
  }
  .main-list .hide {
    display: none;
  }
  .main-menu .main-list li a {
    white-space: nowrap;
  }
  .header {
    column-gap: 1.5rem;
  }
  .header .main-container {
    column-gap: 1.5rem;
  }
  .icon-container {
    column-gap: 1.5rem;
  }
  .logo-container.mobile-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    justify-content: flex-start;
    padding-top: 3em;
    flex-direction: column;
  }
  .logo-container.mobile-only img {
    margin-bottom: 1em;
    display: block;
  }
  .main-list .mobile-icons .icon-container {
    margin: 0 auto !important;
    margin-top: 2.5rem !important;
    justify-content: center;
  }
}
