* {
  box-sizing: border-box;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

h2,
h3,
span,
h1 {
  font-family: Poppins, sans-serif !important;
}

img {
  max-width: 100%;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: rgb(78, 66, 68);
  font-family: Raleway, sans-serif !important;
}

.content1 h1 {
  font-weight: 500;
  /* font-size: 54px; */
  line-height: 100%;
}

.tile3 img {
  max-width: 380px;
}

.tile3 .img1 {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.small-footer p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.address p.businessname {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgb(78, 66, 68);
  margin-bottom: 0px;
}

.address p.businessAddress {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.content2 h2 {
  font-weight: 100;
  font-size: 40px;
}

.price_2 p {
  font-size: 2rem;
  line-height: 1;
  opacity: 0.9;
}

.content1 h2 {
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 1rem;
}

.tile2 .content2 h1 {
  font-weight: 800;
}

.content2 {
  max-width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.price_2 {
  margin-top: 2.5rem;
  margin-right: 0px;
  margin-bottom: 2.5rem;
  margin-left: 0px;
}

.content1 {
  max-width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.price_1 {
  margin-top: 2.5rem;
  margin-right: 0px;
  margin-bottom: 2.5rem;
  margin-left: 0px;
}

.tile2 {
  padding-top: 4em;
  padding-right: 1em;
  padding-bottom: 4em;
  padding-left: 1em;
}

.tile3 {
  background-color: rgba(202, 219, 235, 0.286);
  padding-top: 6em;
  padding-right: 0px;
  padding-bottom: 6em;
  padding-left: 0px;
  display: block;
  position: relative;
}

.tile3::after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: -1;
  content: '';
  opacity: 0.1;
  background-image: url('https://g99plus.b-cdn.net/Group8%20p3/image%209.png');
}

.box-shadow {
  max-width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(47, 128, 237, 0.15) 0px 0px 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 2em;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-btn {
  background-color: rgb(213, 123, 60);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-btn.black {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.small-footer {
  /* height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: rgb(243, 239, 239);
}

.head {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-right: 3em;
  padding-bottom: 0px;
  padding-left: 3em;
  z-index: 2;
  position: relative;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}

.address {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgb(78, 66, 68);
}

.tile3 .content1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 170%;
  color: rgb(78, 66, 68);
  font-family: Raleway, sans-serif !important;
}

.price_1 p,
.price_2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 170%;
  color: rgb(78, 66, 68);
  font-family: Raleway, sans-serif !important;
}

.tile4 .content2 h1 {
  font-weight: 500;
}

.tile1 .img1 img {
  height: auto;
}

@media screen and (min-width: 1400px) {
  .img1 img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {

  .content1,
  .tile3 .img1 {
    margin-bottom: 2em;
  }

  /* .content1 h1,
  .content1 h3 {
    font-size: 36px;
  } */
  .tile3 img {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    max-width: 100%;
  }

  .price-btn.black {
    margin-top: 1em;
  }

  .content2 {
    margin-bottom: 2em;
  }

  .img1 {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  .box-shadow {
    max-width: 100%;
    margin-top: 2em;
  }

  .tile2 {
    padding-bottom: 0px;
  }

  .tile4 {
    padding-bottom: 4em;
  }

  .tile3 {
    padding-top: 3em;
    padding-right: 0px;
    padding-bottom: 3em;
    padding-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .action-button button {
    background-color: rgb(213, 123, 60);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action-button {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .head .action-button {
    display: none;
  }

  .head {
    padding-top: 1em !important;
    padding-right: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 1em !important;
  }
}

@media screen and (max-width: 561px) {
  .address p.businessname {
    font-size: 14px;
  }

  .address p.businessAddress {
    font-size: 10px;
    padding-top: 0px;
  }
}